body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

header {
    background: linear-gradient(#08335f, #1E90FF);
    height: 600px;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}

.container {
    margin-left: 50px;
    margin-right: 50px;
}

/* === NAVBAR === */
.logo img {
    width: 1000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

button {
    background-color: #ff9e4e;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
    width: 80px;
    height: 35px;
    border: none;
}

button:hover {
    opacity: 0.9;
}

/* === BAGIAN WELCOME === */
.gambar-samping {
    display: flex;
}

.gambar-samping img {
    width: 50%;
    margin-top: -350px;
    margin-left: auto;
    transform: scaleX(-1);
}

.logo img {
    width: 100px;
}

h1 {
    color: white;
    letter-spacing: -1px;
    margin-top: 200px;
    font-weight: bolder;
}

h3 {
    color: white;
    text-align: justify;
}

/* === SERVICE === */
section {
    margin-left: 200px;
    margin-right: 200px;
}

h2,
h4 {
    text-align: center;
}

.servis img {
    width: 10%;
}